@model Gaska.Models.CreateGuildViewModels.CreateGuildViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.game)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.server)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.server)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.guildName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.guildName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.guildAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.guildAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.guildLeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.guildLeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.guildMemberAuthenticationTokenNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.guildMemberAuthenticationTokenNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
